* {
    color: purple;
}

h2 {
    color: red;
}

.fondoVerde {
    background-color: rgb(194, 3, 241);
    color: deeppink;
}

.fuenteGrande {
    font-size: 30px;
    color: rgb(231, 227, 0);
}

#idPrimero {
    background-color: aquamarine;
    font-size: 25px;
}

@media screen and (max-width: 500px){
    h2{
        color: green;
    }

    .fuenteGrande {
        font-size: 10px;
        color: rgb(231, 227, 0);
    }
}

@media screen and (max-width: 200px){
    h2{
        color: rgb(0, 17, 172);
    }

    .fuenteGrande {
        font-size: 10px;
        color: rgb(231, 227, 0);
    }
}